spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:postgresql://localhost:5433/demo_db
    username: demo_user
    password: demo_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
          time_zone: UTC
        format_sql: true

logging:
  file:
    name: logs/app.log
  level:
    root: INFO
    org.springframework.security: INFO

server:
  port: 8081

app:
  jwt:
    secret: "my-super-strong-and-long-secret-key-12345"
    expiration-ms: 3600000
